<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="https://www.javaguides.net" class="navbar-brand">BTC development</a></div>
    <ul class="navbar-nav">
      <li><a class="nav-link" href="/">Home</a></li>
      <li><a class="nav-link" href="/todo">Todo list</a></li>
      <li><a class="nav-link" href="/companies">Companies</a></li>
      <li><a class="nav-link" href="/countries">Countries</a></li>
      <li><a class="nav-link" href="/income">Income</a></li>
    </ul>
  </nav>
</header>
